In [42]:
import pandas as pd

In [ ]:
file_path = '../Data/raw/'

date_columns = ['Date']

"Date","Open","Promo","StateHoliday","SchoolHoliday"
"Store","StoreType","Assortment","CompetitionDistance","CompetitionOpenSinceMonth","CompetitionOpenSinceYear","Promo2","Promo2SinceWeek","Promo2SinceYear","PromoInterval"


train_data_types_1 = {
    'Store': 'int16',
    'DayOfWeek': 'int8',
    'Customers': 'int16',
    'Open': 'bool',
    'Promo': 'int8',
    'SchoolHoliday': 'int8',
    'StateHoliday': 'category',
    'Sales': 'float32'
}
store_data_types = {
    'Store': 'int16',
    'StoreType': 'category',
    'Assortment': 'category',
    'CompetitionDistance': 'float32',
    'CompetitionOpenSinceMonth': 'float32',
    'CompetitionOpenSinceYear': 'float32',
    'Promo2': 'bool',
    'Promo2SinceWeek': 'float32',
    'Promo2SinceYear': 'float32',
    'PromoInterval': 'category'
}

test_data_types ={
    'Store': 'int16',
    'DayOfWeek': 'int8',
    'Customers': 'int16',
    'Open': 'float32',
    'Promo': 'int8',
    'SchoolHoliday': 'int8',
    'StateHoliday': 'category',
    'Sales': 'float32'
}

In [44]:
df1 = pd.read_csv(
    file_path + "train.csv",
    parse_dates=date_columns,
    dtype=train_data_types_1,
    encoding="utf-8",
)

In [45]:
df2 = pd.read_csv(
    file_path + "store.csv",
    dtype=store_data_types,
    
    encoding="utf-8",
)

training_data = pd.merge(df1, df2, on='Store', how='left')
training_data["Date_index"] = training_data["Date"]
training_data.set_index("Date_index", inplace=True)
training_data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
Date_index,,,,,,,,,,,,,,,,,,
2015-07-31,1,5,2015-07-31,5263.0,555,True,1,0,1,c,a,1270.0,9.0,2008.0,False,NaN,NaN,NaN
2015-07-31,2,5,2015-07-31,6064.0,625,True,1,0,1,a,a,570.0,11.0,2007.0,True,13.0,2010.0,"Jan,Apr,Jul,Oct"
2015-07-31,3,5,2015-07-31,8314.0,821,True,1,0,1,a,a,14130.0,12.0,2006.0,True,14.0,2011.0,"Jan,Apr,Jul,Oct"
2015-07-31,4,5,2015-07-31,13995.0,1498,True,1,0,1,c,c,620.0,9.0,2009.0,False,NaN,NaN,NaN
2015-07-31,5,5,2015-07-31,4822.0,559,True,1,0,1,a,a,29910.0,4.0,2015.0,False,NaN,NaN,NaN

In [46]:
testing_data = pd.read_csv(
    file_path + "test.csv",
    parse_dates=date_columns,
    dtype=test_data_types,
    encoding="utf-8",
)
testing_data = pd.merge(testing_data, df2, on='Store', how='left')
testing_data.head()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,False,NaN,NaN,NaN
1,2,3,4,2015-09-17,1.0,1,0,0,a,a,14130.0,12.0,2006.0,True,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,3,7,4,2015-09-17,1.0,1,0,0,a,c,24000.0,4.0,2013.0,False,NaN,NaN,NaN
3,4,8,4,2015-09-17,1.0,1,0,0,a,a,7520.0,10.0,2014.0,False,NaN,NaN,NaN
4,5,9,4,2015-09-17,1.0,1,0,0,a,c,2030.0,8.0,2000.0,False,NaN,NaN,NaN

In [47]:
testing_data["Open"] = testing_data["Open"].fillna(1)
testing_data["Open"] = testing_data["Open"].astype("bool")
testing_data.head()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,True,1,0,0,c,a,1270.0,9.0,2008.0,False,NaN,NaN,NaN
1,2,3,4,2015-09-17,True,1,0,0,a,a,14130.0,12.0,2006.0,True,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,3,7,4,2015-09-17,True,1,0,0,a,c,24000.0,4.0,2013.0,False,NaN,NaN,NaN
3,4,8,4,2015-09-17,True,1,0,0,a,a,7520.0,10.0,2014.0,False,NaN,NaN,NaN
4,5,9,4,2015-09-17,True,1,0,0,a,c,2030.0,8.0,2000.0,False,NaN,NaN,NaN

In [48]:
tr_col =training_data.columns
ts_col =testing_data.columns

In [49]:
# ensure both datasets have the same columns
missing_cols = set(tr_col) - set(ts_col)
print("Columns in training data but not in testing data:", missing_cols)

Columns in training data but not in testing data: {'Sales', 'Customers'}

In [50]:
t2 = training_data[(training_data["Sales"] > training_data["Sales"].quantile(0.9995)) & (training_data.Open == 1)].sort_values("Sales", ascending=False)
t2[['Store', 'Promo', 'Promo2', 'PromoInterval', 'StoreType', 'StateHoliday', 'SchoolHoliday', 'Customers', 'Sales']].head(10)

,Store,Promo,Promo2,PromoInterval,StoreType,StateHoliday,SchoolHoliday,Customers,Sales
Date_index,,,,,,,,,
2015-06-22,909,0,True,"Feb,May,Aug,Nov",a,0,0,1721,41551.0
2015-04-03,262,1,False,NaN,b,b,0,5132,38722.0
2015-05-01,262,1,False,NaN,b,a,0,5458,38484.0
2015-05-14,262,0,False,NaN,b,a,1,5192,38367.0
2014-06-16,57,1,False,NaN,d,0,0,1970,38037.0
2013-12-16,817,1,False,NaN,a,0,0,4381,38025.0
2013-12-16,261,1,True,"Jan,Apr,Jul,Oct",d,0,0,1964,37646.0
2014-05-29,262,0,False,NaN,b,a,0,5297,37403.0
2013-12-22,262,0,False,NaN,b,0,0,4916,37376.0
2014-12-21,262,0,False,NaN,b,0,0,4962,37122.0

In [51]:
training_data.drop(columns="Customers", inplace=True)
testing_data.drop(columns="Id", inplace=True)

In [52]:
print(training_data.shape)
print(testing_data.shape)

(1017209, 17)
(41088, 16)

In [ ]:
# training_data.to_csv("../Data/Preprocessed_data/merged_data_before_preprocessing/merged_training_data.csv")
# testing_data.to_csv("../Data/Preprocessed_data/merged_data_before_preprocessing/merged_testing_data.csv", index=False)
training_data.to_csv("../../Data/intermediate/merged_training_data.csv")
testing_data.to_csv("../../Data/intermediate/merged_testing_data.csv", index=False)